<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="main.js"></script>
    <title>SendIT</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
            <h1>SendIT</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../index.html">Logout</a></li>
                <li><a href="userprofile.html">My Profile</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
            <div class="mymenu">
                <ul>
                    <li><a href="create.html">Create Order</a></li>
                    <li><a href="orderdetails.html">View Order Details</a></li>
                    <li><a href="cancel.html">Cancel Order</a></li>
                    <li><a href="change.html">Change Destination</a></li>
                    <li><a href="allorders.html">All Orders</a></li>
                    <li><a href="orderdetails.html">Order Details</a></li>
                </ul>
            </div>
            <div class="contents">
                <table class="products">
                    <div class="box-shadow">
                        <div class="panel-header">
                            <span class="quotitle">Order Details</span>
                        </div>
                    <thead>
                        <tr scope="row">
                            <th scope="col">Order ID</th>
                            <th scope="col">Pickup Point</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Status</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td scope="col">1</td>
                            <td scope="col">Mombasa</td>
                            <td scope="col">Nairobi</td>
                            <td scope="col">2</td>
                            <td scope="col">10kg</td>
                            <td scope="col">Delivered</td>
                            <td scope="col">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <footer class="main-footer">
        <p>SendIT &copy;2018 All Rights Reserved</p>
    </footer>
  </body>
</html>
