<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
  <script src="UI/static/js/main.js"></script>
  <title>Shipper</title>
</head>

<body>
  <header>
    <div class="logo">
      <h1>Shippr</h1>
    </div>
    <nav>
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      </div>
    </nav>
  </header>
  <section class="log-forms">
    <form action="POST">
      <div class="signup-form">
        <h1>Login</h1>
        <input type="text" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button class="sub-btn" type="submit">Login</button>
        <!----
        <div class="check-box">
          <label for="login_check" class="checkbox">
            <input type="checkbox" />
            <div class="czechbox"></div>
            Remember me
          </label>
        </div>
      -->
      </div>
      <div class="cred-text">
        <p>Don't have an account yet? <a href="signup.html">Sign Up</a>.</p>
      </div>
    </form>
  </section>
  <footer>
    <div class="foot-left">
      <p>&copy; Shippr 2020</p>
    </div>
    <div class="foot-right">
      <ul>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>
