<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
    <script src="UI/static/js/main.js"></script>
    <title>Shipper</title>
  </head>
  <body>
    <header>
        <div class="logo">
            <h1>Shippr</h1>
        </div>
        <nav>
            <ul>
              <li><a href="../../index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="signup.html">Sign Up</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
          </div>
        </nav>
    </header>
    <section>
      <form>
        <div class="signup-form">
          <h1>Sign Up</h1>
          <input type="text" class="frm" placeholder="First Name" required  autofocus>
          <input type="text" class="frm" placeholder="Last Name" required>
          <input type="email" class="frm" placeholder="Email" required>
          <input type="password" class="frm" placeholder="Password" required>
          <input type="password" class="frm" placeholder="Confirm Password" required>
          <button class="submeat" type="submit">Sign Up</button>
        </div>
        <div class="log-in">
          <p>Already have an account? <a href="login.html">Login</a></p>
        </div>
      </form>
    </section>
    <footer>
        <p>Shippr &copy; 2019 All Rights Reserved</p>
    </footer>
  </body>
</html>
