<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
  <script src="UI/static/js/main.js"></script>
  <title>Shipper</title>
</head>

<body>
  <header>
    <div class="logo">
      <h1>Shippr</h1>
    </div>
    <nav>
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="signup.html">Sign Up</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      </div>
    </nav>
  </header>
  <section>
    <div>
      <p>Create an account and start Shipping</p>
    </div>
    <form>
      <fieldset class="account-info">
        <div class="names">
          <ul>
            <li><input type="text" name="name" value="" placeholder="Fist Name" required /></li>
            <li><input type="text" name="name" value="" placeholder="Last Name" required /></li>
          </ul>
        </div>
        <div class="acc-info">
          <input type="text" name="email" value="" placeholder="Email" required />
          <input type="password" name="password" value="" placeholder="Password" required />
        </div>

        <button class="sub-btn">Sign Up</button>
      </fieldset>
    </form>
    <div>
      <h2>By signing up, you agree to Shippr's Terms of Service</h2>
      <p>Already have an account? <a>Login here</a></p>
    </div>
  </section>
  <footer>
    <div class="foot-left">
      <p>&copy; Shippr 2020</p>
    </div>
    <div class="foot-right">
      <ul>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Security</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>
