*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  color: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}

a{
    text-decoration: none;
    color: #0000;
}
a:hover{
    color: navy;
    background-color: white;
}

* ul li{
  list-style: none;
}
header{
  background-color: navy;
  color: white;
  width: 100%;
  height: 100px;
}
.logo{
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}
nav ul{
  display: block;
  margin: 0 auto;
  width: fit-content;
 
}

nav ul li{
  display: inline-block;
  float: left;
  padding: 0 7.5px;
}

nav ul li a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  display: inline;
  font-weight: 100;
}

@media only screen and (min-width: 1000px){
  header .logo{
    margin: 37px 0;
    text-align: left;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
   
  }
  header nav{
    float: right;
    margin: 37px 0;
    padding-right: 40px;
  }
  header nav ul li a{
    padding: 20px;
  }
  .submeat{
    background-color: navy;
    width: 20vw;
    color: #fff;
    border-radius: 50px;
    padding: 10px;
    font-size: 18px;
    margin-top: 50px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.8s;
    border: none;
    margin-left: 50px;
  }
  .submeat :hover{
    transform: scale(0.9)
  }
  .signup-form input {
    display: block;
    width: 35%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    margin: 15px auto ;
    transition: 0.25s;
  
  }

  .signup-form input :focus{
    width: 38%;
    border-color: #39F;
  }
  footer{    
    background-color:navy;
    
    padding: 20px 20px;
    color: white;
    text-align: center;  
  }
}

.hero-section{
  width: 100%;
  height: calc(100vh - 100px);
  
  background-image: url(/UI/static/images/File0020180.jpg);
  display: table;
}
.vertline{
 vertical-align: middle;
 display: table-cell;
}
.hero-section p{
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-style: italic;
  line-height: 30px;
  text-align-last: center;
}
.hero-section h1{
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-top: 20px;
  text-transform: uppercase;
  line-height: 70px;
  
}

.signup-form input :focus{
  width: 38%;
  border-color: #39F;
}
/*
footer{    
  background-color:navy;
  height: 100px;
  padding: 20px 20px;
  color: white;
  text-align: center;
  
  
}*/

footer{   
  background: navy;
  padding: 30px;
  width: 100%;
  bottom: 0;   
  height: 380px;
  
}
.footer-left{
  
  width: 315px;
  height: auto;
  float: left;
}
.footer-right{
  width: 138px;
  height: auto;
  float: right;
}
.footer-box{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 30px;  
}
.footer-box h6{
  font-size: 20px;
  color: #fff;
  margin: 0px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer-box ul{
  margin: 0;
  padding: 0;
  display: grid;
}
.footer-box ul li{
  list-style: none;
  padding-top: 2px;
}
.footer-box ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  float: left;
}
.footer-boxx ul{
  margin: 0;
  padding: 0;
  display: grid;
}
.footer-boxx ul li{
  list-style: none;
  padding-top: 2px;
}
.footer-boxx ul li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 10px;
  float: right;
}
.footer-boxx h6{
  font-size: 20px;
  color: #fff;
  margin: 0px;
  text-align: right;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer-boxx{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 30px;  
}
.box{
  margin-top: 350px;
  padding: 80px 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
  width: 350px;
  padding: 40px;
  border-radius: 24px;
}

.navbar li{
    list-style: none;
    text-decoration: none;
    padding: 0%;
    float: left;
}

/* signup form */

.submeat{
  background-color: navy;
  width: 50%;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  margin: 50px auto;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.8s;
  margin: 40px auto;
  border: none;
  display: block;
}
.submeat :hover{
  transform: scale(0.9);
}
.signup-form input {
  display: block;
  width: 50%;
  padding: 0 16px;
  height: 44px;
  text-align: left;
  outline: none;
  border-radius: 6px;
  margin: 15px auto ;
  border: 2px solid navy;
}

.signup-form h1{
  text-align: center;
  font-size: 40px;
  margin: 20px;
  text-transform: uppercase;
}

.chequebox{
  margin: 8px 0;
}


.sign-up a{
  color: #000000;
  text-align: center;
}
.log-in a{
  color: #000000;
  text-align: center;
}

.tracker-box{
  border: 3px solid black;
  padding: 20px;
  margin: 20px;
  background-color: dimgray;
}
.mymenu{
  border: 2px solid rgb(53, 52, 52);
  padding: 0px 0px;
  margin: 20px;
  top: 0px;
  
}
.mymenu a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline;
  color: #000;
}
.mymenu a:hover{
  color: blueviolet;
}
.mymenu:hover
.quote {
  margin-bottom: 60px;
}
.mymenu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.mymenu li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 30px;
}
.box-shadow {
  background-color: #fff;
  box-shadow: 0 1px 8px -3px rgba(0,0,0,0.5);
  margin-top: 25px;
  padding: 25px 25px 50px;
  display: block;
}
.panel-header {
  position: relative;
  background-color: navy;
  height: 52px;
  padding-left: 70px;
  padding-right: 20px;
  margin-bottom: 25px;
  color: #fff;
  line-height: 46px;
  display: block;
}
.quotitle {
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 22px;
}
.box-shadow .quoteform {
  margin-top: 50px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.quoteform .form-group {
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}




label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}




.textbox {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  background: none;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  border-radius: 0;
  padding: 0;
}


optgroup {
  font-weight: bolder;
  display: block;
}
.material-textbox ~ .focus-border, .select2-container--above ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #39F;
  transition: .4s;
}
table{
  margin-top: 9px;
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
}
tbody tr{
  padding: 18px;
  height:33px;
  text-align: center;
}
thead th:nth-child(1){
  width: 20%;    
}
thead th:nth-child(2){
  width: 10%;    
}
thead th:nth-child(3){
  width: 10%;    
}
thead th:nth-child(4){
  width: 10%;    
}
thead th:nth-child(5){
  width: 10%;    
}
tbody tr{
  padding: 18px;
  height:33px;
  text-align: center;
}
tbody tr:nth-child(odd){
  background: #658b8b;
}
tbody tr:nth-child(even){
  background: #666480  ;
}
tbody tr:hover{
  background: #fff;
}
