* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1F4F5;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #0000;
}

* ul li {
  list-style: none;
}

header {
  background-color: #24292e;
  color: white;
  width: 100%;
  height: 100px;
}

.logo {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

nav ul li {
  display: inline-block;
  padding: 0 7.5px;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  display: inline;
  font-weight: 100;
}

@media only screen and (min-width: 1000px) {

  /* navbar section*/
  header {
    width: 100%;
    height: 65px;
  }

  header .logo {
    margin: 20px 0;
    text-align: left;
    padding-left: 60px;
    padding-top: 0px;
    float: left;
  }

  header nav {
    float: right;
    margin: 20px 0;
    padding-right: 60px;
  }

  header nav ul li a {
    padding: 0 10px;
  }

  header nav ul li a:hover {
    color: #4caf50;
  }

  /* hero section*/
  .hero-section {
    width: 100%;
    height: calc(100vh - 65px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/josh-withers-GGw1tdmyxgs-unsplash.jpg);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-section h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px;
    color: white;
    position: relative;
    animation: text 3s 1;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /*
  @keyframes text {
    0% {
      margin-bottom: -40px;
    }
  }
*/
  .hero-section p {
    color: #4caf50;
    font-size: 40px;
    font-style: italic;
    line-height: 30px;
    text-align-last: center;
    margin-bottom: 50px;
  }

  .hero-section .btn {
    background-color: #4caf50;
    border: 2px solid #fff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .hero-section .btn:hover {
    background-color: #fff;
    color: #4caf50;
  }

  footer {
    width: 100%;
    color: black;
  }

  .foot-left {
    margin: 20px 0;
    text-align: left;
    padding-left: 60px;
    padding-top: 0px;
    float: left;
  }

  .foot-right {
    float: right;
    margin: 20px 0;
    padding-right: 60px;
  }

  .foot-right ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  .foot-right ul li {
    display: inline-block;
    padding: 0 7.5px;
  }

  .foot-right ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    display: inline;
    font-weight: 100;
  }

  /*signup section*/

  .sub-btn {
    background-color: #4caf50;
    width: 90%;
    height: 45px;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
    transition: 0.8s;
    margin: 40px auto;
    border: none;
    display: block;
    border: 1px solid #dadfe2;
  }

  .sub-btn:hover {
    background-color: #fff;
    color: #4caf50;
  }

  .log-forms {
    margin-top: 40px;
    background-color: #fff;
    width: 40%;
    height: fit-content;
    margin-left: 33.3%;
    padding: 20px;
    border-radius: 6px;
  }

  .signup-form input {
    display: block;
    width: 90%;
    padding: 0 12px;
    height: 45px;
    text-align: left;
    outline: none;
    border-radius: 6px;
    margin: 15px auto;
    border: 2px solid #dadfe2;
  }

  .signup-form h1 {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-bottom: 20px;
    color: #666;
  }

  /*
  #lock {
    background-image: url(/UI/static/images/lock.png) no-repeat;
    width: 90%;
    height: 45px;
  }
*/
  .cred-text {
    text-align: center;

  }

  .cred-text p {
    font-size: 15px;
    line-height: 2.2em;
    color: rgb(126, 140, 153);
  }

  .cred-text a {
    color: blue;
    cursor: pointer;
  }

  /*
  .checkbox {
    display: inline-block;
    align-items: center;
    cursor: pointer;
  }

  .czechbox {
    width: 1.25em;
    height: 1.25em;
  }

  .czechbox input {
    display: none;
  }
  */
}


/*
footer {
  background-color: #F4F5F8;
  padding: 20px 20px;
  color: black;
  text-align: center;
}
*/

/*
.hero-section {
  width: 100%;
  height: calc(100vh - 100px);

  background-image: url(/UI/static/images/File0020180.jpg);
  display: table;
}

.vertline {
  vertical-align: middle;
  display: table-cell;
}

.hero-section p {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-style: italic;
  line-height: 30px;
  text-align-last: center;
}

.hero-section h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-top: 20px;
  text-transform: uppercase;
  line-height: 70px;

}
*/

.box {
  margin-top: 350px;
  padding: 80px 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  width: 350px;
  padding: 40px;
  border-radius: 24px;
}

.navbar li {
  list-style: none;
  text-decoration: none;
  padding: 0%;
  float: left;
}

/* signup form */

.submeat :hover {
  transform: scale(0.9);
}


.chequebox {
  margin: 8px 0;
}

.sign-up a {
  color: #000000;
  text-align: center;
}

.log-in a {
  color: #000000;
  text-align: center;
}

.tracker-box {
  border: 3px solid black;
  padding: 20px;
  margin: 20px;
  background-color: dimgray;
}

.mymenu {
  border: 2px solid rgb(53, 52, 52);
  padding: 0px 0px;
  margin: 20px;
  top: 0px;
}

.mymenu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  display: inline;
  color: #000;
}

.mymenu a:hover {
  color: blueviolet;
}

.mymenu:hover .quote {
  margin-bottom: 60px;
}

.mymenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mymenu li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 30px;
}

.box-shadow {
  background-color: #fff;
  box-shadow: 0 1px 8px -3px rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  padding: 25px 25px 50px;
  display: block;
}

.panel-header {
  position: relative;
  background-color: navy;
  height: 52px;
  padding-left: 70px;
  padding-right: 20px;
  margin-bottom: 25px;
  color: #fff;
  line-height: 46px;
  display: block;
}

.quotitle {
  font-weight: 300;
  vertical-align: middle;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 22px;
}

.box-shadow .quoteform {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.quoteform .form-group {
  position: relative;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.textbox {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  background: none;
  width: 100%;
  height: 35px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  border-radius: 0;
  padding: 0;
}

optgroup {
  font-weight: bolder;
  display: block;
}

.material-textbox~.focus-border,
.select2-container--above~.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #39f;
  transition: 0.4s;
}

table {
  margin-top: 9px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

tbody tr {
  padding: 18px;
  height: 33px;
  text-align: center;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

tbody tr {
  padding: 18px;
  height: 33px;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #658b8b;
}

tbody tr:nth-child(even) {
  background: #666480;
}

tbody tr:hover {
  background: #fff;
}
